#formTodo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #eee;
  padding-bottom:3px;
}
#formTodo input {
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 10px;
  font-family: inherit;
  font-size: 20px;
  background-color: transparent;
}
#formTodo input::placeholder {
  color: #fff;
}
#formTodo button {
  width: 40px;
  height: 40px;
  padding-bottom: 3px;
  color: #fff;
  background-color: #565656;
  border-radius: 2px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
